body {
  background: #F7F7F7;
  font-family: 'Niramit', sans-serif;
}

.titlebox {
	text-align: center;
	width: 150px;
	margin-top: 50px;
	background: #00b0ff;
	position: absolute;
	padding:10px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.45);
  z-index: 2;
	color:white;
	font-family: 'Roboto', sans-serif;
}

.box {
	background: white;
	margin-top: 80px;
	padding:70px;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.45);
}

.inputbox {
	transition: all 0.4s ease-in-out;
	border-radius: 0px;
  border-width: 0 0 2px;
}

.inputbox:focus{
	border-color: #7b7e75;
	box-shadow:none !important;
}

.custom-button {
  color: #00E676;
  font-family: 'Roboto', sans-serif;
  background: white;
  border: 4px solid #00E676;
  padding: 15px;
  width: 80%;
  border-radius: 2px;
  font-size: 0.95em;
  opacity: 1;
  transition: all 0.4s ease-in;
  color: #00E676;
  font-weight: 700;
  text-transform: uppercase;
}

.custom-button:hover {
  color: #00E676;
  font-family: 'Roboto', sans-serif;
  background: #00E676;
  border: 4px solid #00E676;
  padding: 15px;
  width: 80%;
  border-radius: 2px;
  font-size: 0.95em;
  opacity: 1;
  transition: all 0.4s ease-in;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

